# Node.js dependencies
node_modules/

# Environment variables
.env
.env.local

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Testing
coverage/
